<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button expand="block" style="color: #e41f1f; font-weight: bolder;" (click)="close()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <qrcode style="display: flex;justify-content: center;margin: 20px" [qrdata]="qrData!" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      <ion-text *ngIf="warning" style="color: #ffd100;">* {{ warning }}</ion-text>
      <ion-button expand="block" (click)="copyToClipboard()">Copiar o texto</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
