<ion-header>
  <ion-toolbar>
    <ion-title>ESQUECI MINHA SENHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSend()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.invalid" class="input-error">
      <small *ngIf="resetPasswordForm.get('email')?.errors?['required']: false">Email é obrigatório.</small> <br>
      <small *ngIf="resetPasswordForm.get('email')?.errors?['email']: false">Entre um email válido.</small>
    </ion-text>


    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">ENVIAR</ion-button>
  </form>
</ion-content>

