<ion-header>
  <ion-toolbar>
    <ion-title>ESQUECI MINHA SENHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSend()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <div>
      {{resetPasswordForm.errors}}
    </div>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">ENVIAR</ion-button>
  </form>
</ion-content>

