ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-title {
  font-weight: bolder;
  font-size: xx-large;
  font-style: italic;
  font-family: Impact;
}

ion-content {
  --background: #0f1a47;

  form {
    ion-item {
      margin-top: 20px;
    }
  }

  ion-button {
    margin-top: 20px;
  }
}
