<ion-header>
  <ion-toolbar>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="input-error">
      <small *ngIf="signupForm.get('email')?.errors?['required']: false">Email é obrigatório.</small> <br>
      <small *ngIf="signupForm.get('email')?.errors?['email']: false">Entre um email válido.</small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Nome de usuário (opcional)</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="input-error">
      <small *ngIf="signupForm.get('password')?.errors?['required']: false">Senha é obrigatória.</small> <br>
      <small *ngIf="signupForm.get('password')?.errors?['minlength']: false">A senha deve ter pelo menos 6 caracteres.</small>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="signupForm.invalid" (click)="onSignup()">CRIAR CONTA</ion-button>
    <ion-button expand="block" color="secondary" routerLink="/">Voltar</ion-button>
  </form>
</ion-content>
