<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="eventForm">
    <ion-grid style="width: 100%;">
      <ion-row>
        <ion-col class="center-content">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="floating">Nome do Evento</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="eventForm.get('name')?.touched && eventForm.get('name')?.invalid" class="input-error">
            <small *ngIf="eventForm.get('name')?.errors?['required']: false">Nome do Evento é obrigatório.</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="left-side-column" >
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="stacked" class="label">Data de início</ion-label>
            <date-time-picker
              [initialValue]="startDateInitialValue"
              label="Data de início"
              type="date"
              style="align-self: center"
              (valueChange)="onStartDateChange($event)"
            ></date-time-picker>
          </ion-item>
          <ion-text color="danger" *ngIf="startDate && !startDate.valid" class="side-column input-error">
            <small>Data de início inválida.</small>
          </ion-text>
        </ion-col>
        <ion-col class="right-side-column">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="stacked" class="label" >Data fim</ion-label>
            <date-time-picker
              [initialValue]="endDateInitialValue"
              label="Data fim"
              type="date"
              style="align-self: center"
              (valueChange)="onEndDateChange($event)"
            ></date-time-picker>
          </ion-item>
          <ion-text color="danger" *ngIf="endDate && !endDate.valid" class="side-column input-error">
            <small>Data de fim inválida.</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="left-side-column" >
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="stacked" class="label">Hora de início</ion-label>
            <date-time-picker
              [initialValue]="startTimeInitialValue"
              label="Hora de início"
              type="time"
              style="align-self: center"
              (valueChange)="onStartTimeChange($event)"
            ></date-time-picker>
          </ion-item>
          <ion-text color="danger" *ngIf="startTime && !startTime.valid" class="side-column input-error">
            <small>Hora de início inválida.</small>
          </ion-text>
        </ion-col>
        <ion-col class="right-side-column">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="stacked" class="label">Hora fim</ion-label>
            <date-time-picker
              [initialValue]="endTimeInitialValue"
              label="Hora fim"
              type="time"
              style="align-self: center"
              (valueChange)="onEndTimeChange($event)"
            ></date-time-picker>
          </ion-item>
          <ion-text color="danger" *ngIf="endTime && !endTime.valid" class="side-column input-error">
            <small>Hora fim inválida.</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center-content">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="floating">Descrição</ion-label>
            <ion-input type="text" formControlName="description" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="eventForm.get('description')?.touched && eventForm.get('description')?.invalid" class="input-error">
            <small *ngIf="eventForm.get('description')?.errors?['required']: false">Descrição é obrigatória.</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center-content">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="floating">Localização</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center-content">
          <ion-item [disabled]="event?.eventStatus === 'PUBLISHED'">
            <ion-label position="floating">URL do banner</ion-label>
            <ion-input type="text" formControlName="publicityImageUrl"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="event && event.ticketCategories && event.ticketCategories.length > 0">
        <ion-col class="center-content">
          <ion-item [disabled]="event.eventStatus === 'PUBLISHED'">
            <ion-label position="floating" class="label">Categorias</ion-label>
            <ion-grid style="width: 100%">
              <ion-row class="separator">
                <ion-col>
                  Nome
                </ion-col>
                <ion-col>
                  Preço
                </ion-col>
                <ion-col>
                  Quantidade
                </ion-col>
                <ion-col>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let ticketCategory of event.ticketCategories">
                <ion-col>
                  {{ticketCategory.categoryName}}
                </ion-col>
                <ion-col>
                  {{ticketCategory.price}} sats
                </ion-col>
                <ion-col>
                  {{ticketCategory.quantity}} sats
                </ion-col>
                <ion-col style="display: flex; justify-content: flex-end">
                  <ion-icon *ngIf="event.eventStatus !== 'PUBLISHED'" class="icon" name="pencil-sharp" (click)="navigateToTicketCategory(ticketCategory)" ></ion-icon>
                  <ion-icon *ngIf="event.eventStatus !== 'PUBLISHED'" class="icon" name="trash-bin-sharp" (click)="deleteTicketCategory(ticketCategory.id)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="ticketStatistics && ticketStatistics.length > 0">
        <ion-col class="center-content">
          <ion-item>
            <ion-label position="floating" class="label">Vendas</ion-label>
            <ion-grid style="width: 100%">
              <ion-row class="separator">
                <ion-col>
                  Categoria
                </ion-col>
                <ion-col>
                  Qtd. Total
                </ion-col>
                <ion-col>
                  Qtd. Vendida
                </ion-col>
                <ion-col>
                  Preço
                </ion-col>
                <ion-col>
                  Valor total
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let statistics of ticketStatistics">
                <ion-col>
                  {{ statistics.categoryName }}
                </ion-col>
                <ion-col>
                  {{ statistics.quantity }}
                </ion-col>
                <ion-col>
                  {{ statistics.soldCount }}
                </ion-col>
                <ion-col>
                  {{ statistics.price }} sats
                </ion-col>
                <ion-col>
                  {{ statistics.totalValue }} sats
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block"  [disabled]="!eventId || event?.eventStatus === 'PUBLISHED'" (click)="deleteEvent()" class="hidden-on-disable" color="danger">REMOVER EVENTO</ion-button>
    <ion-button expand="block"  [disabled]="!eventId" (click)="navigateToTicketCategory()" class="hidden-on-disable">ADICIONAR CATEGORIA</ion-button>
    <ion-button expand="block"  [disabled]="!eventId || eventForm.invalid || event?.eventStatus === 'PUBLISHED'" (click)="publishEvent()" class="hidden-on-disable">PUBLICAR EVENTO</ion-button>
    <ion-button expand="block"  [disabled]="event?.eventStatus === 'PUBLISHED' || eventForm.invalid || !startDate?.valid || !endDate?.valid || !startTime?.valid || !endTime?.valid" (click)="onSubmit()">{{event ? 'ATUALIZAR' : 'CRIAR'}} EVENTO</ion-button>
  </form>
</ion-content>
<tabs [config]="managerTabs"></tabs>
