.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-side-column {
  display: flex;
  justify-content: center;
}

.right-side-column {
  display: flex;
  justify-content: center;
}


@media (min-width: 533px) {
  .left-side-column {
    display: flex;
    justify-content: end;
  }

  .right-side-column {
    display: flex;
    justify-content: start;
  }
}

.label {
  font-size: 16px;
  margin-bottom: 2%;
}
