<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
  <img [src]="event?.publicityImageUrl" class="imagem-event" alt="teste">
    <ion-text class="teste">
    <p class="border"> {{event?.name}}</p><br>
    <ion-grid>
      <ion-row>
        <ion-col class="color-colum2">Local: </ion-col>
        <ion-col class="color-colum">{{event?.location}}</ion-col>
      </ion-row>
    </ion-grid>
    <div class="divider-line"></div>
    <ion-grid>
      <ion-row>
        <ion-col class="color-colum2">Dia(s)</ion-col>
        <ion-col class="color-colum">{{event?.startDate |  date:'dd/MM/yyyy'}} - {{event?.endDate |  date:'dd/MM/yyyy'}}</ion-col>
      </ion-row>
    </ion-grid>
    <div class="divider-line"></div>
    <ion-grid>
      <ion-row>
        <ion-col class="color-colum2">Horas</ion-col>
        <ion-col class="color-colum">{{ event?.startTime | date: 'HH:hh' }} - {{ event?.endDate | date: 'HH:hh' }}</ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <p class="border">{{event?.description}}</p>

      <div>
        <p class="categ" >escolha seus ingressos: </p>
      </div>


      <ion-grid class="numeric-spin">
        <ion-row *ngFor="let ticketCategory of ticketCategories">
          <ion-col class="event-categ">{{ ticketCategory.categoryName}} - {{ticketCategory.price}}</ion-col>
          <ion-col class="quantity">
            <div class="cont-btn">
              <ion-button class="btn" (click)="decrease()">-</ion-button>
              <div class="contador"><h2>{{ value }}</h2></div>
              <ion-button class="btn" (click)="increase()">+</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-text><br>




  <ion-button expand="block">Comprar</ion-button>

  </form>


</ion-content>
