.imagem-event {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
.teste{
    color: #326a8f;
    font-size: 35px;

}
.divider-line {
    color: 326a8f;
    height: 2px;
    background-color: #14293d;
    margin: 20px 0;
  }


.color-colum{
    font-size: 30px;
    color: white;
}
p{
    color: white;
}
.border{
  padding-left: 5px;
}

