<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SATSPASS GERENCIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text style="color: white; font-weight: bolder; font-size: 21px">Meus Eventos</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <swiper-container [slidesPerView]="clamp(events ? events.length : 0, 1, platform.is('mobile') ? 2 : 3)"
                          [pagination]="{ clickable: true }"
                          [attr.navigation]="!platform.is('mobile') || null"
        >
          <swiper-slide >
            <ion-card class="event-card" (click)="navigateToEvent()" >
              <ion-card-header>
                <ion-card-title>Criar evento</ion-card-title>
              </ion-card-header>

              <ion-card-content class="plus">
                +
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <swiper-slide *ngFor="let event of events">
            <ion-card class="event-card" (click)="navigateToEvent(event)" >
              <ion-card-content class="custom-background" [style.backgroundImage]="event.publicityImageUrl ? 'url(' + event.publicityImageUrl + ')' : 'url(/assets/x-default-event-photo.jpg)'">
                <ion-grid class="text-container">
                  <ion-row>
                    <ion-col class="alignment1">
                      <div class="text-item">{{ event.name }}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="alignment2">
                      <div class="text-item">{{ event?.startDate | date:'dd/MM/yyyy' }}</div>
                    </ion-col>
                    <ion-col class="alignment2">
                      <div class="text-item">{{ event?.endDate | date:'dd/MM/yyyy' }}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="alignment3">
                      <div class="text-item">{{ event?.location }}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<tabs [config]="managerTabs"></tabs>
