<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manager home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container [slidesPerView]="3" [loop]="true">
    <swiper-slide >
      <ion-card class="event-card" (click)="navigateToEvent()" >
        <ion-card-header>
          <ion-card-title>Criar evento</ion-card-title>
        </ion-card-header>

        <ion-card-content class="plus">
          +
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
